body{
	background:url(../img/fondo1.jpg);
    /*background-repeat:no-repeat; */
	background-attachment:fixed;
    color:#fff;
}
	div{
		width: 120px;
		height: 35px;
		background: #E3B039;
		color: #fff;
		font-size: 10px;
		float: right;
		font-family:"verdana";
		word-spacing: 50px;


	}
	.caja{
		position: static;
		top:100px;
		bottom:0;
		right:0;
		left:300px;
				
	}
	p{
		color:;
		font-family:"verdana";
		font-size: 15px;
		font-weight:; 
		text-align: left;
		line-height: 20px;
		text-transform:none;
		letter-spacing: normal;
		word-spacing: normal;
		text-shadow
	}

a{
	font-size: 20px;
	color:;
	text-decoration:;

}
a:link{

	color:#DF1338;

}

a:hover{
	text-decoration: underline;
	background: #000;
	color: #E3B039;
}
a:active{}